body{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color:rgb(234, 234, 234);
        }

        .calculator{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            /* border-radius: 20px; */
            padding: 15px;
        }
        

        #display{
            width: 250px;
            height: 50px;
            margin-bottom: 10px;
            font-size: 24px;
            text-align: right;
            border: none;
            padding-right: 10px;
            /* border: 1px solid rgb(234, 234, 234); */
            /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

        }

        .buttons{
            display: grid;
            width: 250px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 5px;
            /* background-color: rgb(37, 14, 14); */
        }

        button{
            width: 100%; height: 100%;
            font-size: 20px;
            font-weight: 700;
            border: none;
            /* border-radius: 10px; */
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 10px;
            box-sizing: border-box;
            /* transition: background-color 0.2s ease; */
        }

        button:hover {
            background-color: rgb(0, 136, 255);
            color: white;
            transition: background-color 0.4s ease, opacity 0.4s ease;
        }

        button:active {
            opacity: 0.6;
            /* transform: scale(0.95); */

        }
        
        .equalBtn{
            grid-column: span 4;
            height: 50px;
            background-color: white;
        }

        @keyframes pop {
            0%   { transform: scale(1);   opacity: 1; }
            50%  { transform: scale(0.9); opacity: 0.75; }
            100% { transform: scale(1);   opacity: 1; }
        }


        .pop-effect {
            animation: pop 0.2s ease;
            will-change: transform, opacity;
        }